<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x1.frans.supplier.query.repository.SupplierQueryMapper">
    <select id="findLatestCodeByCodePrefix" resultType="string">
        SELECT `code`
          FROM `supplier`
         WHERE `code` LIKE CONCAT(#{codePrefix}, '%')
         ORDER BY `code` DESC
         LIMIT 1
    </select>

    <resultMap id="findSupplierListMap" type="com.x1.frans.supplier.query.dto.SupplierListDTO">
        <result property="name" column="name"/>
        <result property="ceoName" column="ceo_name"/>
        <result property="companyPhone" column="company_phone"/>
    </resultMap>
    <select id="findSupplierList" resultMap="findSupplierListMap">
        SELECT
               id
             , name
             , ceo_name
             , company_phone
          FROM supplier
         ORDER BY name
    </select>
</mapper>