<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x1.frans.supplier.query.repository.SupplierQueryMapper">
    <select id="findLatestCodeByCodePrefix" resultType="string">
        SELECT `code`
          FROM `supplier`
         WHERE `code` LIKE CONCAT(#{codePrefix}, '%')
         ORDER BY `code` DESC
         LIMIT 1
    </select>

    <resultMap id="findSupplierListMap" type="com.x1.frans.supplier.query.dto.SupplierListDTO">
        <result property="name" column="name"/>
        <result property="ceoName" column="ceo_name"/>
        <result property="companyPhone" column="company_phone"/>
    </resultMap>
    <select id="findSupplierList" resultMap="findSupplierListMap">
        SELECT
               id
             , name
             , ceo_name
             , company_phone
          FROM supplier
         ORDER BY name
    </select>

    <resultMap id="supplierDetail" type="com.x1.frans.supplier.query.dto.SupplierDetailDTO">
        <result property="ceoName" column="ceo_name" />
        <result property="companyPhone" column="company_phone" />
        <result property="businessNumber" column="business_number" />
        <result property="signedAt" column="signed_at" />
        <result property="isActive" column="is_active" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
        <result property="supplierName" column="supplier_name"/>
        <result property="supplierEmail" column="supplier_email"/>
        <result property="supplierPhone" column="supplier_phone"/>
    </resultMap>
    <select id="getSupplierDetail" resultMap="supplierDetail">
        SELECT
               s.id
             , s.code
             , s.name
             , s.ceo_name
             , s.company_phone
             , s.address
             , s.zipcode
             , s.business_number
             , s.signed_at
             , s.is_active
             , s.created_at
             , s.updated_at
             , u.name AS supplier_name
             , u.email AS supplier_email
             , u.phone AS supplier_phone
          FROM supplier s
          LEFT JOIN user u On s.supplier_id = u.id
         WHERE s.id = #{supplierId}
    </select>
</mapper>