<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x1.frans.supplier.query.repository.SupplierQueryMapper">
    <select id="findLatestCodeByCodePrefix" resultType="string">
        SELECT `code`
          FROM `supplier`
         WHERE `code` LIKE CONCAT(#{codePrefix}, '%')
         ORDER BY `code` DESC
         LIMIT 1
    </select>

    <resultMap id="findSupplierListMap" type="com.x1.frans.supplier.query.dto.SupplierListDTO">
        <result property="name" column="name"/>
        <result property="ceoName" column="ceo_name"/>
        <result property="companyPhone" column="company_phone"/>
    </resultMap>
    <select id="findSupplierList" resultMap="findSupplierListMap">
        SELECT
               id
             , name
             , ceo_name
             , company_phone
          FROM supplier
         ORDER BY name
    </select>

    <resultMap id="supplierDetail" type="com.x1.frans.supplier.query.dto.SupplierDetailDTO">
        <result property="ceoName" column="ceo_name" />
        <result property="companyPhone" column="company_phone" />
        <result property="businessNumber" column="business_number" />
        <result property="signedAt" column="signed_at" />
        <result property="isActive" column="is_active" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>
    <select id="getSupplierDetail" resultMap="supplierDetail">
        SELECT
               id
             , code
             , name
             , ceo_name
             , company_phone
             , address
             , zipcode
             , business_number
             , signed_at
             , is_active
             , created_at
             , updated_at
          FROM supplier
         WHERE supplier.id = #{supplierId}
    </select>
</mapper>