<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.x1.frans.order.query.dao.FranchiseOrderQueryMapper">

    <resultMap id="OrderSummaryMap" type="com.x1.frans.order.query.dto.OrderSummaryResponseDto">
        <id property="orderId" column="order_id"/>
        <result property="orderCode" column="order_code"/>
        <result property="productSummary" column="product_summary"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="franchiseName" column="franchise_name"/>
    </resultMap>

    <select id="searchOrders" resultMap="OrderSummaryMap"
            parameterType="com.x1.frans.order.query.dto.OrderSearchConditionDto">
        SELECT
               o.id AS order_id,
               o.code AS order_code,
               CONCAT(p.name, ' 외 ', COUNT(*) - 1, '건') AS product_summary,
               o.status,
               o.created_at,
               o.total_amount,
               f.name AS franchise_name
          FROM orders o
          JOIN franchise f ON o.franchise_id = f.id
          JOIN product_order po ON o.id = po.order_id
          JOIN product p ON po.product_id = p.id
        <where>
            <if test="ownerId != null">
                o.franchise_id IN (
                SELECT id
                  FROM franchise
                 WHERE owner_id = #{ownerId}
                )
            </if>

            <if test="code != null and code != ''">
                AND o.code LIKE CONCAT('%', #{code}, '%')
            </if>

            <if test="product != null and product != ''">
                   AND EXISTS (
                SELECT 1 FROM product_order po2
                  JOIN product p2 ON po2.product_id = p2.id
                 WHERE po2.order_id = o.id
                   AND p2.name LIKE CONCAT('%', #{product}, '%')
                )
            </if>

            <if test="statusList != null and statusList.size > 0">
                AND o.status IN
                <foreach collection="statusList" item="s" open="(" separator="," close=")">
                    #{s}
                </foreach>
            </if>

            <if test="startDate != null and endDate != null">
                AND DATE(o.created_at) BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
         GROUP BY o.id
         ORDER BY o.created_at DESC
         LIMIT #{size} OFFSET #{offset}
    </select>


    <select id="countOrders" resultType="int"
            parameterType="com.x1.frans.order.query.dto.OrderSearchConditionDto">
        SELECT COUNT(DISTINCT o.id)
          FROM orders o
          JOIN product_order po ON o.id = po.order_id
          JOIN product p ON po.product_id = p.id
        <where>
            <if test="ownerId != null">
                o.franchise_id IN (
                SELECT id
                  FROM franchise
                 WHERE owner_id = #{ownerId}
                )
            </if>

            <if test="code != null and code != ''">
                AND o.code LIKE CONCAT('%', #{code}, '%')
            </if>

            <if test="product != null and product != ''">
                   AND EXISTS (
                SELECT 1 FROM product_order po2
                  JOIN product p2 ON po2.product_id = p2.id
                 WHERE po2.order_id = o.id
                   AND p2.name LIKE CONCAT('%', #{product}, '%')
                )
            </if>

            <if test="statusList != null and statusList.size > 0">
                AND o.status IN
                <foreach collection="statusList" item="s" open="(" separator="," close=")">
                    #{s}
                </foreach>
            </if>

            <if test="startDate != null and endDate != null">
                AND DATE(o.created_at) BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>

    <!-- 가맹점 주문 상세 조회 -->
    <select id="findFranchiseOrderDetailById" resultType="com.x1.frans.order.query.dto.FranchiseOrderDetailDto">
        SELECT
        -- 가맹점 정보
               f.name            AS franchiseName
             , f.code            AS franchiseCode
             , f.business_number AS businessNumber
             , u.name            AS ceoName
             , f.signed_at       AS franchiseSignedAt
             , f.address         AS franchiseAddress
             , f.zipcode         AS zipCode
             , f.phone           AS franchisePhone

        -- 주문 정보
             , o.code
             , DATE(o.created_at) AS orderDate
             , o.status
             , o.total_amount
             , CASE WHEN o.status = 'REJECTED'
            THEN o.rejected_reason ELSE NULL
        END AS rejectedReason

        -- 배송 정보
        , d.delivery_company   AS deliveryCompany
        , d.name               AS driverName
        , d.phone              AS driverPhone
        , d.tracking_number    AS trackingNumber
        , DATE(d.delivered_at) AS deliveredAt

    FROM orders o
    JOIN franchise f ON o.franchise_id = f.id
    JOIN user u ON f.owner_id = u.id
    LEFT JOIN delivery d ON o.delivery_id = d.id
    WHERE o.id = #{orderId}
        AND f.owner_id = #{userId}
    </select>

    <!-- 가맹점 주문 자재 리스트 -->
    <select id="findProductsByOrderId" resultType="com.x1.frans.product.query.dto.ProductDetailDTO">
        SELECT
               p.id
             , p.code
             , p.name
             , p.spec
             , p.purchase_unit        AS purchaseUnit
             , p.unit
             , pg.name                AS productGroupName
             , pt.name                AS productTypeName
             , pa.name                AS productAttributeName
             , p.purchase_price       AS purchasePrice
             , p.sale_price           AS salePrice
             , s.name                 AS supplierName
             , po.quantity            AS quantity
        FROM product_order po
        JOIN product p ON po.product_id = p.id
        JOIN supplier s ON p.supplier_id = s.id
        JOIN orders o ON o.id = po.order_id
        JOIN product_group pg ON pg.id = p.product_group_id
        JOIN product_type pt ON pt.id = p.product_type_id
        JOIN product_attribute pa ON pa.id = p.product_attribute_id
        WHERE o.id = #{orderId}
    </select>


</mapper>
