<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x1.frans.user.query.repository.UserQueryMapper">
    <select id="findLatestUserCode" resultType="string">
        SELECT `code`
          FROM user
         WHERE `type` = #{userType}
           AND `code` LIKE CONCAT(#{codePrefix}, '%')
         ORDER BY `code` DESC
         LIMIT 1
    </select>

    <select id="isEmailExist" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
              FROM `user`
             WHERE `email` = #{email}
        )
    </select>

    <select id="isPhoneExist" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
              FROM `user`
             WHERE `phone` = #{phone}
        )
    </select>

    <resultMap id="findByCodeResultMap" type="com.x1.frans.user.command.aggregate.UserEntity">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="type" column="type"/>
        <result property="createdAt" column="created_at"/>
        <result property="isDeleted" column="is_deleted" javaType="java.lang.Boolean"/>
        <result property="isLocked" column="is_locked" javaType="java.lang.Boolean"/>
        <result property="isTempPassword" column="is_temp_password" javaType="java.lang.Boolean"/>
        <result property="signUrl" column="sign_url"/>
        <result property="profileUrl" column="profile_url"/>
    </resultMap>
    <select id="findByCode" resultMap="findByCodeResultMap">
        SELECT
               `id`
             , `code`
             , `password`
             , `name`
             , `phone`
             , `email`
             , `type`
             , `created_at`
             , `is_deleted`
             , `is_locked`
             , `is_temp_password`
             , `sign_url`
             , `profile_url`
          FROM `user`
         WHERE `code` = #{userCode}
    </select>
</mapper>