<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x1.frans.franchise.query.repository.FranchiseQueryMapper">
    <select id="findLatestCodeByCodePrefix" resultType="string">
        SELECT `code`
          FROM `franchise`
         WHERE `code` LIKE CONCAT(#{codePrefix}, '%')
         ORDER BY `code` DESC
         LIMIT 1
    </select>
</mapper>