<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x1.frans.franchise.query.repository.FranchiseQueryMapper">
    <select id="findLatestCodeByCodePrefix" resultType="string">
        SELECT `code`
        FROM `franchise`
        WHERE `code` LIKE CONCAT(#{codePrefix}, '%')
        ORDER BY `code` DESC LIMIT 1
    </select>

    <select id="findFranchisesByUserId" resultType="com.x1.frans.franchise.query.dto.FranchiseListDTO">
        SELECT f.id,
               f.code,
               f.name,
               f.address,
               f.phone,
               u.name AS ownerName
        FROM franchise f
                 JOIN department d ON f.department_id = d.id
                 JOIN hq_user_detail h ON h.department_id = d.id
                 JOIN user u ON f.owner_id = u.id
        WHERE h.user_id = #{userId}
          AND f.is_active = 1
    </select>

    <resultMap id="findFranchiseDetailMap" type="com.x1.frans.franchise.query.dto.FranchiseDetailDTO">
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="addressDetail" column="address_detail"/>
        <result property="zipcode" column="zipcode"/>
        <result property="businessNumber" column="business_number"/>
        <result property="phone" column="phone"/>
        <result property="signedAt" column="signed_at"/>
        <result property="isActive" column="is_active"/>
    </resultMap>
    <select id="findFranchiseDetailById" resultMap="findFranchiseDetailMap">
        SELECT f.`code`,
               f.`name`,
               f.`address`,
               f.`address_detail`,
               f.`zipcode`,
               f.`business_number`,
               f.`phone`,
               f.`signed_at`,
               f.`is_active`
        FROM `franchise` f
        WHERE f.`id` = #{franchiseId}
    </select>
</mapper>