<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x1.frans.franchise.query.repository.FranchiseQueryMapper">
    <select id="findLatestCodeByCodePrefix" resultType="string">
        SELECT `code`
        FROM `franchise`
        WHERE `code` LIKE CONCAT(#{codePrefix}, '%')
        ORDER BY `code` DESC LIMIT 1
    </select>

    <select id="findFranchisesByDepartmentId" resultType="com.x1.frans.franchise.query.dto.FranchiseListDTO">
        SELECT
               f.`id`,
               f.`code`,
               f.`name`,
               f.`address`,
               f.`phone`,
               u.`name` AS ownerName
        FROM `franchise` f
        JOIN `hq_user_detail` h ON f.`department_id` = h.`department_id`
        JOIN `user` u ON f.`owner_id` = u.`id`
        WHERE h.`user_id` = #{userId}
        ORDER BY `name`
    </select>

    <select id="findFranchisesByManagerId" resultType="com.x1.frans.franchise.query.dto.FranchiseListDTO">
        SELECT
               f.`id`,
               f.`code`,
               f.`name`,
               f.`address`,
               f.`phone`,
               u.`name` AS `ownerName`
        FROM `franchise` f
        JOIN `user` u ON f.`owner_id` = u.`id`
        WHERE f.`manager_id` = #{userId}
        ORDER BY `name`
    </select>

    <select id="findFranchisesByOwnerId" resultType="com.x1.frans.franchise.query.dto.FranchiseListDTO">
        SELECT
            f.`id`,
            f.`code`,
            f.`name`,
            f.`address`,
            f.`phone`,
            u.`name` AS `ownerName`
        FROM `franchise` f
        JOIN `user` u ON f.`owner_id` = u.`id`
        WHERE f.`owner_id` = #{userId}
        ORDER BY `name`
    </select>


    <resultMap id="findFranchiseDetailMap" type="com.x1.frans.franchise.query.dto.FranchiseDetailDTO">
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="addressDetail" column="address_detail"/>
        <result property="zipcode" column="zipcode"/>
        <result property="businessNumber" column="business_number"/>
        <result property="phone" column="phone"/>
        <result property="signedAt" column="signed_at"/>
        <result property="isActive" column="is_active"/>
        <result property="ownerName" column="owner_name"/>
    </resultMap>
    <select id="findHqFranchiseDetailById" resultMap="findFranchiseDetailMap">
        SELECT f.`code`,
               f.`name`,
               f.`address`,
               f.`address_detail`,
               f.`zipcode`,
               f.`business_number`,
               f.`phone`,
               f.`signed_at`,
               f.`is_active`,
               u.`name` AS `owner_name`
        FROM `franchise` f
        JOIN `hq_user_detail` h ON f.`department_id` = h.`department_id`
        LEFT JOIN user u ON f.`owner_id` = u.`id`
        WHERE f.`id` = #{franchiseId}
          AND h.`user_id` = #{userId}
    </select>

    <select id="findFranchiseDetailById" resultMap="findFranchiseDetailMap">
        SELECT f.`code`,
               f.`name`,
               f.`address`,
               f.`address_detail`,
               f.`zipcode`,
               f.`business_number`,
               f.`phone`,
               f.`signed_at`,
               f.`is_active`,
               u.`name` AS `owner_name`
        FROM `franchise` f
        LEFT JOIN user u ON f.`owner_id` = u.`id`
        WHERE f.`id` = #{franchiseId}
          AND f.`owner_id` = #{userId}
    </select>

    <select id="getMyInfo" resultType="com.x1.frans.franchise.query.dto.MyInfoDTO">
        SELECT
               `id`
             , `code`
             , `name`
             , `phone`
             , `email`
        FROM `user`
       WHERE `id` = #{userId}
    </select>
</mapper>