<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x1.frans.approval.query.repository.ApprovalQueryMapper">
<!--    결재 목록조회Map-->
    <resultMap id="getApprovalListMap" type="com.x1.frans.approval.query.dto.ApprovalListDTO">
        <id property="approvalId" column="approvalId" />
        <!--        결재선 정보-->
        <collection property="lines" ofType="com.x1.frans.approval.query.dto.ApprovalListLineDTO" column="approvalId"
                    select="findApprovalListLine" />

    </resultMap>
<!--    결재선 정보-->
    <select id="findApprovalListLine" resultType="com.x1.frans.approval.query.dto.ApprovalListLineDTO">
        SELECT
               u.id
             , u.name AS approverName
             , dept.name AS deptName
             , pos.name AS positionName
             , al.seq
             , al.approval_type AS type
             , al.status
          FROM approval_line al
          JOIN user u
            ON u.id = al.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE al.approval_id = #{approvalId}
         ORDER BY al.seq
    </select>

<!--   결재 상신 관련-->
    <select id="getApprovalListSubmittedAll" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE u.id = #{userId}
         ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListDraft" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE u.id = #{userId}
           AND a.status = 'DRAFT'
         ORDER BY a.created_at DESC
    </select>
    <select id="getApprovalListInProgress" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE u.id = #{userId}
           AND a.status = 'IN_PROGRESS'
         ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListApproved" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE u.id = #{userId}
           AND a.status = 'APPROVED'
         ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListRejected" resultMap="getApprovalListMap">
        SELECT
            a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
        FROM approval a
                 JOIN user u
                      ON u.id = a.user_id
                 JOIN hq_user_detail hud
                      ON hud.user_id = u.id
                 JOIN department dept
                      ON dept.id = hud.department_id
                 JOIN position pos
                      ON pos.id = hud.position_id
        WHERE u.id = #{userId}
          AND a.status = 'REJECTED'
        ORDER BY a.created_at DESC
    </select>

<!-- 결재 수신 관련-->
<!--    수신받은  모든 문서-->
    <select id="getApprovalListReceivedAll" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN approval_line al
            ON al.approval_id = a.id
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
          ON hud.user_id = u.id
          JOIN department dept
          ON dept.id = hud.department_id
          JOIN position pos
          ON pos.id = hud.position_id
         WHERE al.user_id = #{userId}
         ORDER BY a.created_at DESC
    </select>

<!--    수신받은 결재 모든 문서-->
    <select id="getApprovalListReceivedApprovalAll" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN approval_line al
            ON al.approval_id = a.id
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE al.user_id = #{userId}
           AND al.approval_type = 'APPROVER'
         ORDER BY a.created_at DESC
    </select>


    <select id="getApprovalListReceivedPending" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN approval_line al
            ON al.approval_id = a.id
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE al.user_id = #{userId}
           AND al.status = 'WAITING'
           AND al.approval_type = 'APPROVER'
           AND a.status = 'IN_PROGRESS'
         ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListReceivedUpcoming" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN approval_line al
            ON al.approval_id = a.id
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE al.user_id = #{userId}
           AND al.status = 'EXPECTED'
           AND al.approval_type = 'APPROVER'
         ORDER BY a.created_at DESC
    </select>
<!--    내 결재 완료 전체-->
    <select id="getApprovalListReceivedMyCompletedAll" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN approval_line al
            ON al.approval_id = a.id
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE al.user_id = #{userId}
           AND al.status IN ('APPROVED', 'REJECTED')
           AND al.approval_type = 'APPROVER'
           AND a.status IN ('IN_PROGRESS', 'APPROVED', 'REJECTED')
         ORDER BY a.created_at DESC
    </select>

<!--    내 결재 완료 - 승인-->
    <select id="getApprovalListReceivedMyCompletedApproved" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
        FROM approval a
                 JOIN approval_line al
                      ON al.approval_id = a.id
                 JOIN user u
                      ON u.id = a.user_id
                 JOIN hq_user_detail hud
                      ON hud.user_id = u.id
                 JOIN department dept
                      ON dept.id = hud.department_id
                 JOIN position pos
                      ON pos.id = hud.position_id
        WHERE al.user_id = #{userId}
          AND al.status = 'APPROVED'
          AND al.approval_type = 'APPROVER'
          AND a.status IN ('IN_PROGRESS', 'APPROVED', 'REJECTED')
        ORDER BY a.created_at DESC
    </select>

<!--    내 결재 완료 - 반려-->
    <select id="getApprovalListReceivedMyCompletedRejected" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
        FROM approval a
                 JOIN approval_line al
                      ON al.approval_id = a.id
                 JOIN user u
                      ON u.id = a.user_id
                 JOIN hq_user_detail hud
                      ON hud.user_id = u.id
                 JOIN department dept
                      ON dept.id = hud.department_id
                 JOIN position pos
                      ON pos.id = hud.position_id
        WHERE al.user_id = #{userId}
          AND al.status = 'REJECTED'
          AND al.approval_type = 'APPROVER'
          AND a.status IN ('IN_PROGRESS', 'APPROVED', 'REJECTED')
        ORDER BY a.created_at DESC
    </select>

<!--    종료된 문서 전체-->
    <select id="getApprovalListReceivedClosedAll" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN approval_line al
            ON al.approval_id = a.id
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE al.user_id = #{userId}
           AND al.approval_type IN ('APPROVER','COOPERATOR')
           AND a.status = 'APPROVED'
         ORDER BY a.created_at DESC
    </select>
    <!--    종료된 문서 - 결재 전체 -->
    <select id="getApprovalListReceivedClosedApprovalAll" resultMap="getApprovalListMap">
        SELECT
            a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
        FROM approval a
                 JOIN approval_line al
                      ON al.approval_id = a.id
                 JOIN user u
                      ON u.id = a.user_id
                 JOIN hq_user_detail hud
                      ON hud.user_id = u.id
                 JOIN department dept
                      ON dept.id = hud.department_id
                 JOIN position pos
                      ON pos.id = hud.position_id
        WHERE al.user_id = #{userId}
          AND al.approval_type = 'APPROVER'
          AND a.status IN ('APPROVED', 'REJECTED')
        ORDER BY a.created_at DESC
    </select>

<!--    결재자로서 승인된 문서  -->
    <select id="getApprovalListReceivedClosedApproverApproved" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN approval_line al
            ON al.approval_id = a.id
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE al.user_id = #{userId}
           AND al.approval_type = 'APPROVER'
           AND a.status = 'APPROVED'
         ORDER BY a.created_at DESC
    </select>
<!-- 결재자로서 반려된 문서 -->
    <select id="getApprovalListReceivedClosedApproverRejected" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN approval_line al
            ON al.approval_id = a.id
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE al.user_id = #{userId}
           AND al.approval_type = 'APPROVER'
           AND a.status = 'REJECTED'
         ORDER BY a.created_at DESC
    </select>

<!--    협조자로서 종료된 문서 전체 -->
    <select id="getApprovalListReceivedClosedCooperatorAll" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN approval_line al
            ON al.approval_id = a.id
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE al.user_id = #{userId}
           AND al.approval_type = 'COOPERATOR'
           AND a.status IN ('APPROVED', 'REJECTED')
         ORDER BY a.created_at DESC
    </select>

<!--    협조자로서 승인된 문서 -->
    <select id="getApprovalListReceivedClosedCooperatorApproved" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN approval_line al
            ON al.approval_id = a.id
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE al.user_id = #{userId}
           AND al.approval_type = 'COOPERATOR'
           AND a.status = 'APPROVED'
         ORDER BY a.created_at DESC
    </select>

<!--    협조자로서 반려된 문서 -->
    <select id="getApprovalListReceivedClosedCooperatorRejected" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN approval_line al
            ON al.approval_id = a.id
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE al.user_id = #{userId}
           AND al.approval_type = 'COOPERATOR'
           AND a.status = 'REJECTED'
         ORDER BY a.created_at DESC
    </select>

<!--    협조 문서 - 전체 -->
    <select id="getApprovalListCooperateAll" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN approval_line al
            ON al.approval_id = a.id
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE al.user_id = #{userId}
           AND al.approval_type = 'COOPERATOR'
         ORDER BY a.created_at DESC
    </select>

<!--    협조 문서 - 대기-->
    <select id="getApprovalListCooperatePending" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN approval_line al
            ON al.approval_id = a.id
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE al.user_id = #{userId}
           AND al.status = 'WAITING'
           AND al.approval_type = 'COOPERATOR'
           AND a.status = 'IN_PROGRESS'
         ORDER BY a.created_at DESC
    </select>

<!--    협조 문서 - 예정 -->
    <select id="getApprovalListCooperateUpcoming" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN approval_line al
            ON al.approval_id = a.id
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE al.user_id = #{userId}
           AND al.status = 'EXPECTED'
           AND al.approval_type = 'COOPERATOR'
           AND a.status = 'IN_PROGRESS'
         ORDER BY a.created_at DESC
    </select>
<!--    내 협조 완료 전체  -->
    <select id="getApprovalListCooperateMyCompletedAll" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
        FROM approval a
                 JOIN approval_line al
                      ON al.approval_id = a.id
                 JOIN user u
                      ON u.id = a.user_id
                 JOIN hq_user_detail hud
                      ON hud.user_id = u.id
                 JOIN department dept
                      ON dept.id = hud.department_id
                 JOIN position pos
                      ON pos.id = hud.position_id
        WHERE al.user_id = #{userId}
          AND al.status IN ('APPROVED', 'REJECTED')
          AND al.approval_type = 'COOPERATOR'
          AND a.status IN ('IN_PROGRESS','APPROVED', 'REJECTED')
        ORDER BY a.created_at DESC
    </select>

<!--    협조 문서 - 승인-->
    <select id="getApprovalListCooperateApproved" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN approval_line al
            ON al.approval_id = a.id
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE al.user_id = #{userId}
           AND al.status = 'APPROVED'
           AND a.status IN ('IN_PROGRESS', 'APPROVED', 'REJECTED')
           AND al.approval_type = 'COOPERATOR'
         ORDER BY a.created_at DESC
    </select>

<!--    협조 문서 - 반려-->
    <select id="getApprovalListCooperateRejected" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN approval_line al
            ON al.approval_id = a.id
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE al.user_id = #{userId}
           AND al.status = 'REJECTED'
           AND a.status IN ('IN_PROGRESS', 'APPROVED', 'REJECTED')
           AND al.approval_type = 'COOPERATOR'
         ORDER BY a.created_at DESC
    </select>

<!--    참조 문서 -->
    <select id="getApprovalListReferences" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN approval_line al
            ON al.approval_id = a.id
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE al.user_id = #{userId}
           AND al.approval_type = 'REFERENCE'
         ORDER BY a.created_at DESC
    </select>

<!--    수신문서 -->
    <select id="getApprovalListNotifications" resultMap="getApprovalListMap">
        SELECT
               a.id AS approvalId
             , a.code
             , a.title
             , a.status
             , a.created_at AS createdAt
             , a.is_requested AS isRequested
             , u.name AS drafterName
             , dept.name AS deptName
             , pos.name AS positionName
          FROM approval a
          JOIN approval_line al
            ON al.approval_id = a.id
          JOIN user u
            ON u.id = a.user_id
          JOIN hq_user_detail hud
            ON hud.user_id = u.id
          JOIN department dept
            ON dept.id = hud.department_id
          JOIN position pos
            ON pos.id = hud.position_id
         WHERE al.user_id = #{userId}
           AND al.approval_type = 'RECIPIENT'
         ORDER BY a.created_at DESC
    </select>


    <!--  결재 상세 조회  -->
    <select id="findCategoryByApprovalId" resultType="String" parameterType="long">
        SELECT
            CASE
                WHEN EXISTS (SELECT 1
                               FROM order_approval oa
                              WHERE oa.approval_id = #{approvalId})
                    THEN 'ORDER'
                WHEN EXISTS (SELECT 1
                               FROM return_approval ra
                              WHERE ra.approval_id = #{approvalId})
                    THEN 'RETURN'
                WHEN EXISTS (SELECT 1
                               FROM purchase_order_approval poa
                              WHERE poa.approval_id = #{approvalId})
                    THEN 'PURCHASE_ORDER'
                ELSE 'UNKNOWN'
                END AS category
    </select>

    <!-- resultMap: 주문-->
    <resultMap id="OrderContentMap" type="com.x1.frans.approval.query.dto.Detail.content.OrderReturn.ApprovalOrderReturnContentDTO">
        <result property="createdAt" column="created_at"/>
        <result property="drafterName" column="drafter_name"/>
        <result property="userName" column="user_name"/>
        <result property="userType" column="user_type"/>
        <result property="approvalId" column="id"/>

<!--        첨부파일-->
        <collection property="files" ofType="com.x1.frans.approval.query.dto.Detail.content.ApprovalFileDTO" column="id"
                    select="findApprovalFilesByApprovalId" />

<!--        주문 결재이력-->
        <collection property="history" ofType="com.x1.frans.approval.query.dto.Detail.content.OrderReturn.ApprovalOrderReturnHistoryDTO" column="id"
                    select="findOrderHistoryByApprovalId" />
    </resultMap>

    <!--    주문 이력-->
    <select id="findOrderHistoryByApprovalId"
            resultType="com.x1.frans.approval.query.dto.Detail.content.OrderReturn.ApprovalOrderReturnHistoryDTO">
        SELECT
               o.id AS orderId
             , po.id AS historyId
             , p.code
             , p.name AS productName
             , p.spec
             , p.purchase_unit AS purchaseUnit
             , po.quantity
             , p.sale_price AS salePrice
             , (p.sale_price * po.quantity) AS amount
          FROM order_approval oa
          JOIN orders o
            ON oa.orders_id = o.id
          JOIN product_order po
            ON po.order_id = o.id
          JOIN product p
            ON p.id = po.product_id
         WHERE oa.approval_id = #{id}
    </select>


<!--    주문 -->
    <select id="findOrderContent" resultMap="OrderContentMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.remarks
             , 'ORDER' AS categoryType
             , pos.name AS positionName
             , u.sign_url AS url
             , dept.name AS deptName
             , dept.name AS deptName
             , a.status
             , a.created_at
             , a.processed_at As processedAt
             , u.name AS drafter_name
             , l.user_name
             , l.approval_type AS user_type
        FROM approval a
                 LEFT JOIN user u ON a.user_id = u.id
                 JOIN hq_user_detail hud ON hud.user_id = u.id
                 JOIN department dept ON dept.id = hud.department_id
            JOIN position pos ON pos.id = hud.position_id
                 LEFT JOIN (
                            SELECT
                                al.approval_id,
                                al.approval_type,
                                u.name AS user_name
                            FROM approval_line al
                            JOIN user u ON al.user_id = u.id
                            WHERE al.user_id = #{userId}
                              AND al.approval_id = #{approvalId}
                            ) l   ON a.id = l.approval_id
        WHERE a.id = #{approvalId}
    </select>

    <!-- resultMap: 반품-->
    <resultMap id="ReturnContentMap" type="com.x1.frans.approval.query.dto.Detail.content.OrderReturn.ApprovalOrderReturnContentDTO">
        <result property="createdAt" column="created_at"/>
        <result property="drafterName" column="drafter_name"/>
        <result property="userName" column="user_name"/>
        <result property="userType" column="user_type"/>
        <result property="approvalId" column="id"/>

        <!--        첨부파일-->
        <collection property="files" ofType="com.x1.frans.approval.query.dto.Detail.content.ApprovalFileDTO" column="id"
                    select="findApprovalFilesByApprovalId" />

        <!--        반품 결재이력-->
        <collection property="history" ofType="com.x1.frans.approval.query.dto.Detail.content.OrderReturn.ApprovalOrderReturnHistoryDTO" column="id"
                    select="findReturnHistoryByApprovalId" />
    </resultMap>

    <!--    반품 이력-->
    <select id="findReturnHistoryByApprovalId"
            resultType="com.x1.frans.approval.query.dto.Detail.content.OrderReturn.ApprovalOrderReturnHistoryDTO">
        SELECT
               r.id AS returnId
             , rd.id AS historyId
             , p.code
             , p.name AS productName
             , p.spec
             , p.purchase_unit AS purchaseUnit
             , rd.quantity
             , p.sale_price AS salePrice
             , (p.sale_price * rd.quantity) AS amount
          FROM return_approval ra
          JOIN `return` r
            ON ra.return_id = r.id
          JOIN return_detail rd
            ON rd.return_id = r.id
          JOIN product p
            ON p.id = rd.product_id
         WHERE ra.approval_id = #{id}
    </select>


    <!--   반품 -->
    <select id="findReturnContent" resultMap="ReturnContentMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.remarks
             , 'RETURN' AS categoryType
             , pos.name AS positionName
             , u.sign_url AS url
             , dept.name AS deptName
             , a.processed_at As processedAt
             , a.status
             , a.created_at
             , u.name AS drafter_name
             , l.user_name
             , l.approval_type AS user_type
          FROM approval a
          LEFT JOIN user u ON a.user_id = u.id
          JOIN hq_user_detail hud ON hud.user_id = u.id
          JOIN department dept ON dept.id = hud.department_id
              JOIN position pos ON pos.id = hud.position_id

          LEFT JOIN (
                      SELECT
                             al.approval_id
                           , al.approval_type
                           , u.name AS user_name
                        FROM approval_line al
                        JOIN user u
                          ON al.user_id = u.id
                       WHERE al.user_id = #{userId}
                         AND al.approval_id = #{approvalId}
                    ) l ON a.id = l.approval_id
         WHERE a.id = #{approvalId}
    </select>



    <!-- 발주 resultMap -->
    <resultMap id="PurchaseOrderContentMap" type="com.x1.frans.approval.query.dto.Detail.content.PurchaseOrder.ApprovalPurchaseOrderContentDTO">
        <result property="createdAt" column="created_at"/>
        <result property="drafterName" column="drafter_name"/>
        <result property="userId" column="user_id"/>
        <result property="userType" column="approval_type"/>
        <result property="approvalId" column="id"/>

<!--        첨부파일-->
        <collection property="files" ofType="com.x1.frans.approval.query.dto.Detail.content.ApprovalFileDTO" column="id"
                    select="findApprovalFilesByApprovalId" />
<!--        발주 결재이력-->
        <collection property="history" ofType="com.x1.frans.approval.query.dto.Detail.content.PurchaseOrder.ApprovalPurchaseOrderHistoryDTO" column="id"
                    select="findPurchaseOrderHistoryByApprovalId" />
    </resultMap>


    <!--  발주 -->
    <select id="findPurchaseOrderContent" resultMap="PurchaseOrderContentMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.remarks
             , 'PURCHASE_ORDER' AS categoryType
             , pos.name AS positionName
             , u.sign_url AS url
             , dept.name AS deptName
             , a.status
             , a.processed_at As processedAt
             , a.created_at
             , u.name AS drafter_name
             , l.user_name
             , l.approval_type AS user_type
          FROM approval a
          LEFT JOIN user u
            ON a.user_id = u.id
          LEFT JOIN user u ON a.user_id = u.id
              JOIN hq_user_detail hud ON hud.user_id = u.id
              JOIN department dept ON dept.id = hud.department_id
              JOIN position pos ON pos.id = hud.position_id
          LEFT JOIN (
                        SELECT
                               al.approval_id
                             , al.approval_type
                             , u.name AS user_name
                          FROM approval_line al
                          JOIN user u
                            ON al.user_id = u.id
                         WHERE al.user_id = #{userId}
                           AND al.approval_id = #{approvalId}
                    ) l     ON a.id = l.approval_id
         WHERE a.id = #{approvalId}
    </select>

    <!-- 첨부파일 -->
    <select id="findApprovalFilesByApprovalId" resultType="com.x1.frans.approval.query.dto.Detail.content.ApprovalFileDTO">
        SELECT
                id AS fileId
             , name AS fileName
             , url
          FROM approval_file
         WHERE approval_id = #{id}
    </select>

    <!-- 발주 이력 -->
    <select id="findPurchaseOrderHistoryByApprovalId" resultType="com.x1.frans.approval.query.dto.Detail.content.PurchaseOrder.ApprovalPurchaseOrderHistoryDTO">
        SELECT
            po.id AS purchaseOrderId
             , pop.id AS historyId
             , p.code
             , p.name AS productName
             , p.spec
             , p.purchase_unit AS purchaseUnit
             , pop.quantity
             , p.purchase_price AS purchasePrice
             , (p.purchase_price * pop.quantity) AS amount
          FROM purchase_order_approval poa
          JOIN purchase_order po
            ON po.id = poa.purchase_order_id
          JOIN purchase_order_product pop
            ON pop.purchase_order_id = po.id
          JOIN product p
            ON pop.product_id = p.id
        WHERE poa.approval_id = #{id}
    </select>



    <!-- 결재선 resultMap -->
    <resultMap id="ApprovalDetailLinesMap" type="com.x1.frans.approval.query.dto.Detail.lines.ApprovalLinesDTO">
        <result property="drafterName" column="name"/>
<!--        결재선 정보-->
        <collection property="line" ofType="com.x1.frans.approval.query.dto.Detail.lines.ApprovalLineDTO" column="{approvalId=id}"
                    select="findApprovalDetailLine" fetchType="lazy" />
    </resultMap>

    <!--    결재선 전체 조회-->
    <select id="getApprovalDetailLines" resultMap="ApprovalDetailLinesMap">
        SELECT
               a.id
             , u.name
             , u.sign_url AS url
          FROM approval a
          JOIN user u ON a.user_id = u.id
         WHERE a.id = #{approvalId}
    </select>
<!--    결재선 상세 조회-->
    <select id="findApprovalDetailLine" parameterType="map" resultType="com.x1.frans.approval.query.dto.Detail.lines.ApprovalLineDTO">
        SELECT
               al.id AS approvalLineId
             , u.id AS id
             , u.name AS userName
             , al.approval_type AS type
             , dept.name AS departmentName
             , pos.name AS positionName
             , al.seq
             , al.status
             , al.processed_at AS processedAt
             , al.is_checked AS isChecked
             , al.checked_at AS checkedAt
             , al.opinion
             , u.sign_url AS url
          FROM approval_line al
          LEFT JOIN user u
            ON al.user_id = u.id
          LEFT JOIN hq_user_detail hud
            ON hud.user_id = u.id
          LEFT JOIN department dept
            ON dept.id = hud.department_id
          LEFT JOIN position pos
            ON pos.id = hud.position_id
          LEFT JOIN approval a
            ON a.id = al.approval_id
         WHERE al.approval_id = #{approvalId}
         ORDER BY al.seq
    </select>


<!--  결재 코드 조회  -->
    <select id="findLatestApprovalCode" resultType="string">
        SELECT code
          FROM approval
         WHERE code LIKE CONCAT(#{codePrefix}, '%')
         ORDER BY code DESC
          LIMIT 1
    </select>

<!--   결재선 템플릿 조회-->
    <select id="getApprovalLineTemplates" resultType="com.x1.frans.approval.query.dto.ApprovalLineTemplateDTO">
        SELECT
               alt.id
             , alt.name
             , alt.description
             , alt.seq
          FROM approval_line_template alt
          JOIN user u ON u.id = alt.user_id
         WHERE u.id = #{userId}
         ORDER BY alt.seq DESC

    </select>
<!--    결재선 템플릿 상세 조회-->
    <select id="getApprovalLineDetailTemplates" resultType="com.x1.frans.approval.query.dto.ApprovalLineTemplateDetailDTO">
        SELECT
               alt.id AS templateId
             , u.id AS userId
             , u.name AS userName
             , altd.type
             , dept.name AS departmentName
             , pos.name AS positionName
             , altd.seq
        FROM approval_line_template_detail altd
        JOIN approval_line_template alt ON alt.id = altd.approval_line_template_id
        JOIN user u ON u.id = altd.user_id
        JOIN hq_user_detail hsd ON hsd.user_id = u.id
        JOIN department dept ON dept.id = hsd.department_id
        JOIN position pos ON pos.id = hsd.position_id
        WHERE alt.user_id = #{userId} AND alt.id = #{templateId}
        ORDER BY altd.seq
    </select>

    <!--  진행중인 수신받은 문서  -->
    <select id="getApprovalListReceivedInProgress" resultType="com.x1.frans.approval.query.dto.ApprovalReceivedListDTO">
        SELECT
               a.id
             , a.title
             , u.name
             , dept.name AS departmentName
             , pos.name AS positionName
             , a.created_at
          FROM approval a
          JOIN user u ON u.id = a.user_id
          JOIN hq_user_detail hud ON hud.user_id = u.id
          JOIN department dept ON dept.id = hud.department_id
          JOIN position pos ON pos.id = hud.position_id
          JOIN approval_line al ON al.approval_id = a.id
          JOIN user Approver ON Approver.id = al.user_id
         WHERE Approver.id = #{userId}
           AND a.status = 'IN_PROGRESS'
         ORDER BY a.created_at
    </select>

    <!--  결재완료인 수신받은 문서  -->
    <select id="getApprovalListReceivedApproved" resultType="com.x1.frans.approval.query.dto.ApprovalReceivedListDTO">
        SELECT
               a.id
             , a.title
             , u.name
             , dept.name AS departmentName
             , pos.name AS positionName
             , a.created_at
          FROM approval a
          JOIN user u ON u.id = a.user_id
          JOIN hq_user_detail hud ON hud.user_id = u.id
          JOIN department dept ON dept.id = hud.department_id
          JOIN position pos ON pos.id = hud.position_id
          JOIN approval_line al ON al.approval_id = a.id
          JOIN user Approver ON Approver.id = al.user_id
         WHERE Approver.id = #{userId}
           AND a.status = 'APPROVED'
         ORDER BY a.created_at
    </select>

    <!--  결재반려인 수신받은 문서  -->
    <select id="getApprovalListReceivedRejected" resultType="com.x1.frans.approval.query.dto.ApprovalReceivedListDTO">
        SELECT
               a.id
             , a.title
             , u.name
             , dept.name AS departmentName
             , pos.name AS positionName
             , a.created_at
          FROM approval a
          JOIN user u ON u.id = a.user_id
          JOIN hq_user_detail hud ON hud.user_id = u.id
          JOIN department dept ON dept.id = hud.department_id
          JOIN position pos ON pos.id = hud.position_id
          JOIN approval_line al ON al.approval_id = a.id
          JOIN user Approver ON Approver.id = al.user_id
         WHERE Approver.id = #{userId}
           AND a.status = 'REJECTED'
         ORDER BY a.created_at
    </select>


    <!--    임시저장 관련 -->
    <select id="selectApprovalDraft" resultType="com.x1.frans.approval.query.dto.ApprovalDraftDTO">
        SELECT
            a.id AS approvalId,
            a.code,
            a.title,
            a.remarks
            a.status,
            a.is_requested AS isRequested,
            a.user_id AS id
        FROM approval a
        WHERE a.id = #{approvalId}
          AND a.status = 'DRAFT'
    </select>

    <select id="selectApprovalDraftLines" resultType="com.x1.frans.approval.query.dto.ApprovalDraftLineDTO">
        SELECT
            u.id AS id,
            u.name AS approverName,
            d.name AS deptName,
            p.name AS positionName,
            l.seq,
            l.approval_type AS type
        FROM approval_line l
                 JOIN user u ON l.user_id = u.id
                 LEFT JOIN hq_user_detail hud ON u.id = hud.user_id
                 LEFT JOIN department d ON hud.department_id = d.id
                 LEFT JOIN position p ON hud.position_id = p.id
        WHERE l.approval_id = #{approvalId}
        ORDER BY l.seq ASC
    </select>

    <select id="selectApprovalDraftFiles" resultType="com.x1.frans.approval.query.dto.Detail.content.ApprovalFileDTO">
        SELECT
            f.id AS fileId,
            f.name AS fileName,
            f.url
        FROM approval_file f
        WHERE f.approval_id = #{approvalId}
    </select>

    <select id="selectApprovalDocumentIds" resultType="long">
        SELECT
            oa.orders_id
        FROM order_approval oa
        WHERE oa.approval_id = #{approvalId}
    </select>

    <select id="selectApprovalDocumentIdsReturn" resultType="long">
        SELECT
            ra.return_id
        FROM return_approval ra
        WHERE ra.approval_id = #{approvalId}
    </select>

    <select id="selectApprovalDocumentIdsPurchase" resultType="long">
        SELECT
            poa.purchase_order_id
        FROM purchase_order_approval poa
        WHERE poa.approval_id = #{approvalId}
    </select>

    <select id="selectApprovalCategoryType" resultType="string">
        SELECT 'ORDER' FROM order_approval WHERE approval_id = #{approvalId}
        UNION
        SELECT 'RETURN' FROM return_approval WHERE approval_id = #{approvalId}
        UNION
        SELECT 'PURCHASE_ORDER' FROM purchase_order_approval WHERE approval_id = #{approvalId}
    </select>
<!--    총 금액-->
    <!-- 주문 총 금액 -->
    <select id="findTotalOrderAmountByApprovalId" resultType="java.math.BigDecimal">
        SELECT
            COALESCE(SUM(p.sale_price * po.quantity), 0)
        FROM order_approval oa
                 JOIN orders o ON oa.orders_id = o.id
                 JOIN product_order po ON po.order_id = o.id
                 JOIN product p ON p.id = po.product_id
        WHERE oa.approval_id = #{approvalId}
    </select>

    <!-- 반품 총 금액 -->
    <select id="findTotalReturnAmountByApprovalId" resultType="java.math.BigDecimal">
        SELECT
            COALESCE(SUM(p.sale_price * rd.quantity), 0)
        FROM return_approval ra
                 JOIN `return` r ON ra.return_id = r.id
                 JOIN return_detail rd ON rd.return_id = r.id
                 JOIN product p ON p.id = rd.product_id
        WHERE ra.approval_id = #{approvalId}
    </select>

    <!-- 발주 총 금액 -->
    <select id="findTotalPurchaseOrderAmountByApprovalId" resultType="java.math.BigDecimal">
        SELECT
            COALESCE(SUM(p.purchase_price * pop.quantity), 0)
        FROM purchase_order_approval poa
                 JOIN purchase_order po ON po.id = poa.purchase_order_id
                 JOIN purchase_order_product pop ON pop.purchase_order_id = po.id
                 JOIN product p ON p.id = pop.product_id
        WHERE poa.approval_id = #{approvalId}
    </select>


<!--    documentDTO 추가된 사항 -->
    <select id="selectApprovalDocumentMetaOrder" parameterType="long" resultType="com.x1.frans.approval.query.dto.ApprovalDocumentDTO">
        SELECT
            o.id AS documentId,
            o.code AS documentNo,
            f.name AS franchiseName,
            o.created_at AS createdAt,
            o.total_amount AS amount
        FROM order_approval oa
                 JOIN `orders` o ON oa.orders_id = o.id
                 LEFT JOIN franchise f ON o.franchise_id = f.id
        WHERE oa.approval_id = #{approvalId}
    </select>

    <select id="selectApprovalDocumentMetaReturn" parameterType="long" resultType="com.x1.frans.approval.query.dto.ApprovalDocumentDTO">
        SELECT
            r.id AS documentId,
            r.code AS documentNo,
            f.name AS franchiseName,
            r.created_at AS createdAt,
            r.description AS reason,
            r.total_amount AS amount
        FROM return_approval ra
                 JOIN `return` r ON ra.return_id = r.id
                 LEFT JOIN franchise f ON r.franchise_id = f.id
    </select>

    <select id="selectApprovalDocumentMetaPurchase" parameterType="long" resultType="com.x1.frans.approval.query.dto.ApprovalDocumentDTO">
        SELECT
            po.id AS documentId,
            po.code AS documentNo,
            s.name AS supplierName,
            po.created_at AS createdAt,
            po.total_amount AS amount
        FROM purchase_order_approval poa
                 JOIN purchase_order po ON poa.purchase_order_id = po.id
                 LEFT JOIN supplier s ON po.supplier_id = s.id
        WHERE poa.approval_id = #{approvalId}
    </select>






</mapper>