<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x1.frans.approval.query.repository.ApprovalQueryMapper">
    <resultMap id="getApprovalListMap" type="com.x1.frans.approval.query.dto.ApprovalListDTO">
        <result property="createdAt" column="created_at"/>
        <result property="isRequested" column="is_requested"/>
        <result property="drafterName" column="drafter_name"/>
        <result property="drafterDeptName" column="drafter_dept_name"/>
        <result property="drafterPositionName" column="drafter_position_name"/>
        <result property="approverName" column="approver_name"/>
        <result property="approvalDeptName" column="approver_dept_name"/>
        <result property="approvalPositionName" column="approver_position_name"/>
        <result property="approvalType" column="approval_type"/>
        <result property="approvalLineStatus" column="approval_line_status"/>

    </resultMap>
    <!-- 결재 수신 관련 -->
    <select id="getApprovalListReceivedAll" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
          FROM approval a
          LEFT JOIN approval_line l
            ON a.id = l.approval_id
           AND a.degree = l.approval_degree
            -- 기안자 관련 조인
          LEFT JOIN user drafter
            ON a.user_id = drafter.id
          LEFT JOIN hq_user_detail hq_drafter
            ON hq_drafter.user_id = drafter.id
          LEFT JOIN department drafter_dept
            ON drafter_dept.id = hq_drafter.department_id
          LEFT JOIN position drafter_position
            ON drafter_position.id = hq_drafter.position_id
            -- 결재자 관련 조인
          LEFT JOIN user approver
            ON l.user_id = approver.id
          LEFT JOIN hq_user_detail hq_approver
            ON hq_approver.user_id = approver.id
          LEFT JOIN department approver_dept
            ON approver_dept.id = hq_approver.department_id
          LEFT JOIN position approver_position
            ON approver_position.id = hq_approver.position_id
         WHERE drafter.id = #{userId}
            OR approver.id = #{userId}
         ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListDraft" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
          FROM approval a
          LEFT JOIN approval_line l
            ON a.id = l.approval_id
            AND a.degree = l.approval_degree
          -- 기안자 관련 조인
          LEFT JOIN user drafter
            ON a.user_id = drafter.id
          LEFT JOIN hq_user_detail hq_drafter
            ON hq_drafter.user_id = drafter.id
          LEFT JOIN department drafter_dept
            ON drafter_dept.id = hq_drafter.department_id
          LEFT JOIN position drafter_position
            ON drafter_position.id = hq_drafter.position_id
          -- 결재자 관련 조인
          LEFT JOIN user approver
            ON l.user_id = approver.id
          LEFT JOIN hq_user_detail hq_approver
            ON hq_approver.user_id = approver.id
          LEFT JOIN department approver_dept
            ON approver_dept.id = hq_approver.department_id
          LEFT JOIN position approver_position
            ON approver_position.id = hq_approver.position_id
         WHERE drafter.id = #{userId}
           AND a.status = '임시저장'
         ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListInProgress" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
          FROM approval a
          LEFT JOIN approval_line l
            ON a.id = l.approval_id
            AND a.degree = l.approval_degree
          -- 기안자 관련 조인
          LEFT JOIN user drafter
            ON a.user_id = drafter.id
          LEFT JOIN hq_user_detail hq_drafter
            ON hq_drafter.user_id = drafter.id
          LEFT JOIN department drafter_dept
            ON drafter_dept.id = hq_drafter.department_id
          LEFT JOIN position drafter_position
            ON drafter_position.id = hq_drafter.position_id
          -- 결재자 관련 조인
          LEFT JOIN user approver
            ON l.user_id = approver.id
          LEFT JOIN hq_user_detail hq_approver
            ON hq_approver.user_id = approver.id
          LEFT JOIN department approver_dept
            ON approver_dept.id = hq_approver.department_id
          LEFT JOIN position approver_position
            ON approver_position.id = hq_approver.position_id
         WHERE drafter.id = #{userId}
           AND a.status = '결재 중'
         ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListApproved" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
          FROM approval a
          LEFT JOIN approval_line l
            ON a.id = l.approval_id
            AND a.degree = l.approval_degree
          -- 기안자 관련 조인
          LEFT JOIN user drafter
            ON a.user_id = drafter.id
          LEFT JOIN hq_user_detail hq_drafter
            ON hq_drafter.user_id = drafter.id
          LEFT JOIN department drafter_dept
            ON drafter_dept.id = hq_drafter.department_id
          LEFT JOIN position drafter_position
            ON drafter_position.id = hq_drafter.position_id
          -- 결재자 관련 조인
          LEFT JOIN user approver
            ON l.user_id = approver.id
          LEFT JOIN hq_user_detail hq_approver
            ON hq_approver.user_id = approver.id
          LEFT JOIN department approver_dept
            ON approver_dept.id = hq_approver.department_id
          LEFT JOIN position approver_position
            ON approver_position.id = hq_approver.position_id
        WHERE drafter.id = #{userId}
          AND a.status = '결재 완료'
        ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListRejected" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
          FROM approval a
          LEFT JOIN approval_line l
            ON a.id = l.approval_id
            AND a.degree = l.approval_degree
          -- 기안자 관련 조인
          LEFT JOIN user drafter
            ON a.user_id = drafter.id
          LEFT JOIN hq_user_detail hq_drafter
            ON hq_drafter.user_id = drafter.id
          LEFT JOIN department drafter_dept
            ON drafter_dept.id = hq_drafter.department_id
          LEFT JOIN position drafter_position
            ON drafter_position.id = hq_drafter.position_id
          -- 결재자 관련 조인
          LEFT JOIN user approver
            ON l.user_id = approver.id
          LEFT JOIN hq_user_detail hq_approver
            ON hq_approver.user_id = approver.id
          LEFT JOIN department approver_dept
            ON approver_dept.id = hq_approver.department_id
          LEFT JOIN position approver_position
            ON approver_position.id = hq_approver.position_id
        WHERE drafter.id = #{userId}
          AND a.status = '결재 반려'
        ORDER BY a.created_at DESC
    </select>

    <!-- 결재 수신 관련 -->
    <select id="getApprovalListReceived" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
          FROM approval a
          LEFT JOIN approval_line l
            ON a.id = l.approval_id
            AND a.degree = l.approval_degree
        -- 기안자 관련 조인
          LEFT JOIN user drafter
            ON a.user_id = drafter.id
          LEFT JOIN hq_user_detail hq_drafter
            ON hq_drafter.user_id = drafter.id
          LEFT JOIN department drafter_dept
            ON drafter_dept.id = hq_drafter.department_id
          LEFT JOIN position drafter_position
            ON drafter_position.id = hq_drafter.position_id
        -- 결재자 관련 조인
          LEFT JOIN user approver
            ON l.user_id = approver.id
          LEFT JOIN hq_user_detail hq_approver
            ON hq_approver.user_id = approver.id
          LEFT JOIN department approver_dept
            ON approver_dept.id = hq_approver.department_id
          LEFT JOIN position approver_position
            ON approver_position.id = hq_approver.position_id
         WHERE l.user_id = #{userId}
         ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListReceivedPending" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
          FROM approval a
          LEFT JOIN approval_line l
            ON a.id = l.approval_id
            AND a.degree = l.approval_degree
            -- 기안자 관련 조인
          LEFT JOIN user drafter
            ON a.user_id = drafter.id
          LEFT JOIN hq_user_detail hq_drafter
            ON hq_drafter.user_id = drafter.id
          LEFT JOIN department drafter_dept
            ON drafter_dept.id = hq_drafter.department_id
          LEFT JOIN position drafter_position
            ON drafter_position.id = hq_drafter.position_id
            -- 결재자 관련 조인
          LEFT JOIN user approver
            ON l.user_id = approver.id
          LEFT JOIN hq_user_detail hq_approver
            ON hq_approver.user_id = approver.id
          LEFT JOIN department approver_dept
            ON approver_dept.id = hq_approver.department_id
          LEFT JOIN position approver_position
            ON approver_position.id = hq_approver.position_id
         WHERE l.user_id = #{userId}
           AND l.status = '대기'
           AND l.approval_type = '결재'
         ORDER BY a.created_at DESC
    </select>
    <select id="getApprovalListReceivedUpcoming" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
          FROM approval a
          LEFT JOIN approval_line l
            ON a.id = l.approval_id
            AND a.degree = l.approval_degree
            -- 기안자 관련 조인
          LEFT JOIN user drafter
            ON a.user_id = drafter.id
          LEFT JOIN hq_user_detail hq_drafter
            ON hq_drafter.user_id = drafter.id
          LEFT JOIN department drafter_dept
            ON drafter_dept.id = hq_drafter.department_id
          LEFT JOIN position drafter_position
            ON drafter_position.id = hq_drafter.position_id
            -- 결재자 관련 조인
          LEFT JOIN user approver
            ON l.user_id = approver.id
          LEFT JOIN hq_user_detail hq_approver
            ON hq_approver.user_id = approver.id
          LEFT JOIN department approver_dept
            ON approver_dept.id = hq_approver.department_id
          LEFT JOIN position approver_position
            ON approver_position.id = hq_approver.position_id
         WHERE l.user_id = #{userId}
           AND l.status = '예정'
           AND l.approval_type = '결재'
         ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListReceivedMyCompletedAll" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
          FROM approval a
          LEFT JOIN approval_line l
            ON a.id = l.approval_id
            AND a.degree = l.approval_degree
            -- 기안자 관련 조인
          LEFT JOIN user drafter
            ON a.user_id = drafter.id
          LEFT JOIN hq_user_detail hq_drafter
            ON hq_drafter.user_id = drafter.id
          LEFT JOIN department drafter_dept
            ON drafter_dept.id = hq_drafter.department_id
          LEFT JOIN position drafter_position
            ON drafter_position.id = hq_drafter.position_id
            -- 결재자 관련 조인
          LEFT JOIN user approver
            ON l.user_id = approver.id
          LEFT JOIN hq_user_detail hq_approver
            ON hq_approver.user_id = approver.id
          LEFT JOIN department approver_dept
            ON approver_dept.id = hq_approver.department_id
          LEFT JOIN position approver_position
            ON approver_position.id = hq_approver.position_id
         WHERE l.user_id = #{userId}
           AND l.status IN ('승인', '반려')
           AND l.approval_type IN ('결재', '협조')
           AND a.status = '결재 중'
         ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListReceivedMyCompletedApproved" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
          FROM approval a
          LEFT JOIN approval_line l
            ON a.id = l.approval_id
            AND a.degree = l.approval_degree
            -- 기안자 관련 조인
          LEFT JOIN user drafter
            ON a.user_id = drafter.id
          LEFT JOIN hq_user_detail hq_drafter
            ON hq_drafter.user_id = drafter.id
          LEFT JOIN department drafter_dept
            ON drafter_dept.id = hq_drafter.department_id
          LEFT JOIN position drafter_position
            ON drafter_position.id = hq_drafter.position_id
            -- 결재자 관련 조인
          LEFT JOIN user approver
            ON l.user_id = approver.id
          LEFT JOIN hq_user_detail hq_approver
            ON hq_approver.user_id = approver.id
          LEFT JOIN department approver_dept
            ON approver_dept.id = hq_approver.department_id
          LEFT JOIN position approver_position
            ON approver_position.id = hq_approver.position_id
         WHERE l.user_id = #{userId}
           AND l.status = '승인'
           AND l.approval_type IN ('결재','협조')
           AND a.status = '결재 중'
         ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListReceivedMyCompletedRejected" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
          FROM approval a
          LEFT JOIN approval_line l
            ON a.id = l.approval_id
            AND a.degree = l.approval_degree
            -- 기안자 관련 조인
          LEFT JOIN user drafter
            ON a.user_id = drafter.id
          LEFT JOIN hq_user_detail hq_drafter
            ON hq_drafter.user_id = drafter.id
          LEFT JOIN department drafter_dept
            ON drafter_dept.id = hq_drafter.department_id
          LEFT JOIN position drafter_position
            ON drafter_position.id = hq_drafter.position_id
            -- 결재자 관련 조인
          LEFT JOIN user approver
            ON l.user_id = approver.id
          LEFT JOIN hq_user_detail hq_approver
            ON hq_approver.user_id = approver.id
          LEFT JOIN department approver_dept
            ON approver_dept.id = hq_approver.department_id
          LEFT JOIN position approver_position
            ON approver_position.id = hq_approver.position_id
         WHERE l.user_id = #{userId}
           AND l.status = '반려'
           AND l.approval_type IN ('결재','협조')
           AND a.status = '결재 중'
         ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListReceivedClosed" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
          FROM approval a
          LEFT JOIN approval_line l
            ON a.id = l.approval_id
            AND a.degree = l.approval_degree
            -- 기안자 관련 조인
          LEFT JOIN user drafter
            ON a.user_id = drafter.id
          LEFT JOIN hq_user_detail hq_drafter
            ON hq_drafter.user_id = drafter.id
          LEFT JOIN department drafter_dept
            ON drafter_dept.id = hq_drafter.department_id
          LEFT JOIN position drafter_position
            ON drafter_position.id = hq_drafter.position_id
            -- 결재자 관련 조인
          LEFT JOIN user approver
            ON l.user_id = approver.id
          LEFT JOIN hq_user_detail hq_approver
            ON hq_approver.user_id = approver.id
          LEFT JOIN department approver_dept
            ON approver_dept.id = hq_approver.department_id
          LEFT JOIN position approver_position
            ON approver_position.id = hq_approver.position_id
         WHERE l.user_id = #{userId}
           AND a.status = '결재 완료'
           AND l.approval_type IN ('결재','협조')
         ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListReceivedClosedApproverApproved" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
          FROM approval a
          LEFT JOIN approval_line l
            ON a.id = l.approval_id
            AND a.degree = l.approval_degree
            -- 기안자 관련 조인
          LEFT JOIN user drafter
            ON a.user_id = drafter.id
          LEFT JOIN hq_user_detail hq_drafter
            ON hq_drafter.user_id = drafter.id
          LEFT JOIN department drafter_dept
            ON drafter_dept.id = hq_drafter.department_id
          LEFT JOIN position drafter_position
            ON drafter_position.id = hq_drafter.position_id
            -- 결재자 관련 조인
          LEFT JOIN user approver
            ON l.user_id = approver.id
          LEFT JOIN hq_user_detail hq_approver
            ON hq_approver.user_id = approver.id
          LEFT JOIN department approver_dept
            ON approver_dept.id = hq_approver.department_id
          LEFT JOIN position approver_position
            ON approver_position.id = hq_approver.position_id
         WHERE l.user_id = #{userId}
           AND l.status = '승인'
           AND l.approval_type = '결재'
           AND a.status = '결재 완료'
         ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListReceivedClosedApproverRejected" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
          FROM approval a
          LEFT JOIN approval_line l
            ON a.id = l.approval_id
            AND a.degree = l.approval_degree
            -- 기안자 관련 조인
          LEFT JOIN user drafter
            ON a.user_id = drafter.id
          LEFT JOIN hq_user_detail hq_drafter
            ON hq_drafter.user_id = drafter.id
          LEFT JOIN department drafter_dept
            ON drafter_dept.id = hq_drafter.department_id
          LEFT JOIN position drafter_position
            ON drafter_position.id = hq_drafter.position_id
            -- 결재자 관련 조인
          LEFT JOIN user approver
            ON l.user_id = approver.id
          LEFT JOIN hq_user_detail hq_approver
            ON hq_approver.user_id = approver.id
          LEFT JOIN department approver_dept
            ON approver_dept.id = hq_approver.department_id
          LEFT JOIN position approver_position
            ON approver_position.id = hq_approver.position_id
         WHERE l.user_id = #{userId}
           AND l.status = '반려'
           AND l.approval_type = '결재'
           AND a.status = '결재 완료'
         ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListReceivedClosedCooperatorApproved" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
        FROM approval a
                 LEFT JOIN approval_line l
                           ON a.id = l.approval_id
                               AND a.degree = l.approval_degree
            -- 기안자 관련 조인
                 LEFT JOIN user drafter
                           ON a.user_id = drafter.id
                 LEFT JOIN hq_user_detail hq_drafter
                           ON hq_drafter.user_id = drafter.id
                 LEFT JOIN department drafter_dept
                           ON drafter_dept.id = hq_drafter.department_id
                 LEFT JOIN position drafter_position
                           ON drafter_position.id = hq_drafter.position_id
            -- 결재자 관련 조인
                 LEFT JOIN user approver
                           ON l.user_id = approver.id
                 LEFT JOIN hq_user_detail hq_approver
                           ON hq_approver.user_id = approver.id
                 LEFT JOIN department approver_dept
                           ON approver_dept.id = hq_approver.department_id
                 LEFT JOIN position approver_position
                           ON approver_position.id = hq_approver.position_id
        WHERE l.user_id = #{userId}
          AND l.status = '승인'
          AND l.approval_type = '협조'
          AND a.status = '결재 완료'
        ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListReceivedClosedCooperatorRejected" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
          FROM approval a
          LEFT JOIN approval_line l
            ON a.id = l.approval_id
            AND a.degree = l.approval_degree
            -- 기안자 관련 조인
          LEFT JOIN user drafter
            ON a.user_id = drafter.id
          LEFT JOIN hq_user_detail hq_drafter
            ON hq_drafter.user_id = drafter.id
          LEFT JOIN department drafter_dept
            ON drafter_dept.id = hq_drafter.department_id
          LEFT JOIN position drafter_position
            ON drafter_position.id = hq_drafter.position_id
            -- 결재자 관련 조인
          LEFT JOIN user approver
            ON l.user_id = approver.id
          LEFT JOIN hq_user_detail hq_approver
            ON hq_approver.user_id = approver.id
          LEFT JOIN department approver_dept
            ON approver_dept.id = hq_approver.department_id
          LEFT JOIN position approver_position
            ON approver_position.id = hq_approver.position_id
        WHERE l.user_id = #{userId}
          AND l.status = '반려'
          AND l.approval_type = '협조'
          AND a.status = '결재 완료'
        ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListCooperateAll" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
          FROM approval a
          LEFT JOIN approval_line l
            ON a.id = l.approval_id
            AND a.degree = l.approval_degree
            -- 기안자 관련 조인
          LEFT JOIN user drafter
            ON a.user_id = drafter.id
          LEFT JOIN hq_user_detail hq_drafter
            ON hq_drafter.user_id = drafter.id
          LEFT JOIN department drafter_dept
            ON drafter_dept.id = hq_drafter.department_id
          LEFT JOIN position drafter_position
            ON drafter_position.id = hq_drafter.position_id
            -- 결재자 관련 조인
          LEFT JOIN user approver
            ON l.user_id = approver.id
          LEFT JOIN hq_user_detail hq_approver
            ON hq_approver.user_id = approver.id
          LEFT JOIN department approver_dept
            ON approver_dept.id = hq_approver.department_id
          LEFT JOIN position approver_position
            ON approver_position.id = hq_approver.position_id
         WHERE l.user_id = #{userId}
           AND l.approval_type = '협조'
         ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListCooperatePending" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
          FROM approval a
          LEFT JOIN approval_line l
            ON a.id = l.approval_id
            AND a.degree = l.approval_degree
            -- 기안자 관련 조인
          LEFT JOIN user drafter
            ON a.user_id = drafter.id
          LEFT JOIN hq_user_detail hq_drafter
            ON hq_drafter.user_id = drafter.id
          LEFT JOIN department drafter_dept
            ON drafter_dept.id = hq_drafter.department_id
          LEFT JOIN position drafter_position
            ON drafter_position.id = hq_drafter.position_id
            -- 결재자 관련 조인
          LEFT JOIN user approver
            ON l.user_id = approver.id
          LEFT JOIN hq_user_detail hq_approver
            ON hq_approver.user_id = approver.id
          LEFT JOIN department approver_dept
            ON approver_dept.id = hq_approver.department_id
          LEFT JOIN position approver_position
            ON approver_position.id = hq_approver.position_id
         WHERE l.user_id = #{userId}
           AND l.status = '대기'
           AND l.approval_type = '협조'
         ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListCooperateApproved" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
          FROM approval a
          LEFT JOIN approval_line l
            ON a.id = l.approval_id
            AND a.degree = l.approval_degree
            -- 기안자 관련 조인
          LEFT JOIN user drafter
            ON a.user_id = drafter.id
          LEFT JOIN hq_user_detail hq_drafter
            ON hq_drafter.user_id = drafter.id
          LEFT JOIN department drafter_dept
            ON drafter_dept.id = hq_drafter.department_id
          LEFT JOIN position drafter_position
            ON drafter_position.id = hq_drafter.position_id
            -- 결재자 관련 조인
          LEFT JOIN user approver
            ON l.user_id = approver.id
          LEFT JOIN hq_user_detail hq_approver
            ON hq_approver.user_id = approver.id
          LEFT JOIN department approver_dept
            ON approver_dept.id = hq_approver.department_id
          LEFT JOIN position approver_position
            ON approver_position.id = hq_approver.position_id
         WHERE l.user_id = #{userId}
           AND l.status = '승인'
           AND l.approval_type = '협조'
         ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListCooperateRejected" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
          FROM approval a
          LEFT JOIN approval_line l
            ON a.id = l.approval_id
            AND a.degree = l.approval_degree
            -- 기안자 관련 조인
          LEFT JOIN user drafter
            ON a.user_id = drafter.id
          LEFT JOIN hq_user_detail hq_drafter
            ON hq_drafter.user_id = drafter.id
          LEFT JOIN department drafter_dept
            ON drafter_dept.id = hq_drafter.department_id
          LEFT JOIN position drafter_position
            ON drafter_position.id = hq_drafter.position_id
            -- 결재자 관련 조인
          LEFT JOIN user approver
            ON l.user_id = approver.id
          LEFT JOIN hq_user_detail hq_approver
            ON hq_approver.user_id = approver.id
          LEFT JOIN department approver_dept
            ON approver_dept.id = hq_approver.department_id
          LEFT JOIN position approver_position
            ON approver_position.id = hq_approver.position_id
         WHERE l.user_id = #{userId}
           AND l.status = '반려'
           AND l.approval_type = '협조'
         ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListReferences" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
          FROM approval a
          LEFT JOIN approval_line l
            ON a.id = l.approval_id
            AND a.degree = l.approval_degree
            -- 기안자 관련 조인
          LEFT JOIN user drafter
            ON a.user_id = drafter.id
          LEFT JOIN hq_user_detail hq_drafter
            ON hq_drafter.user_id = drafter.id
          LEFT JOIN department drafter_dept
            ON drafter_dept.id = hq_drafter.department_id
          LEFT JOIN position drafter_position
            ON drafter_position.id = hq_drafter.position_id
            -- 결재자 관련 조인
          LEFT JOIN user approver
            ON l.user_id = approver.id
          LEFT JOIN hq_user_detail hq_approver
            ON hq_approver.user_id = approver.id
          LEFT JOIN department approver_dept
            ON approver_dept.id = hq_approver.department_id
          LEFT JOIN position approver_position
            ON approver_position.id = hq_approver.position_id
         WHERE l.user_id = #{userId}
           AND l.approval_type = '참조'
         ORDER BY a.created_at DESC
    </select>

    <select id="getApprovalListNotifications" resultMap="getApprovalListMap">
        SELECT
               a.id
             , a.code
             , a.title
             , a.status
             , a.created_at
             , a.is_requested
             , drafter.name AS drafter_name
             , drafter_dept.name AS drafter_dept_name
             , drafter_position.name AS drafter_position_name
             , approver.name AS approver_name
             , approver_dept.name AS approver_dept_name
             , approver_position.name AS approver_position_name
             , l.seq
             , l.approval_type
             , l.status AS approval_line_status
          FROM approval a
          LEFT JOIN approval_line l
            ON a.id = l.approval_id
            AND a.degree = l.approval_degree
            -- 기안자 관련 조인
          LEFT JOIN user drafter
            ON a.user_id = drafter.id
          LEFT JOIN hq_user_detail hq_drafter
            ON hq_drafter.user_id = drafter.id
          LEFT JOIN department drafter_dept
            ON drafter_dept.id = hq_drafter.department_id
          LEFT JOIN position drafter_position
            ON drafter_position.id = hq_drafter.position_id
            -- 결재자 관련 조인
          LEFT JOIN user approver
            ON l.user_id = approver.id
          LEFT JOIN hq_user_detail hq_approver
            ON hq_approver.user_id = approver.id
          LEFT JOIN department approver_dept
            ON approver_dept.id = hq_approver.department_id
          LEFT JOIN position approver_position
            ON approver_position.id = hq_approver.position_id
         WHERE l.user_id = #{userId}
           AND l.approval_type = '수신'
         ORDER BY a.created_at DESC
    </select>

</mapper>