<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x1.frans.approval.query.repository.FranchiseApprovalCountMapper">

    <!-- 진행중인 주문 결재 개수 -->
    <select id="countInProgressOrderApprovals" resultType="int">
        SELECT COUNT(*)
        FROM approval a
        JOIN order_approval oa ON oa.approval_id = a.id
        WHERE a.user_id = #{userId}
        AND a.status = 'IN_PROGRESS'
    </select>

    <!-- 진행중인 반품 결재 개수 -->
    <select id="countInProgressReturnApprovals" resultType="int">
        SELECT COUNT(*)
        FROM approval a
        JOIN return_approval ra ON ra.approval_id = a.id
        WHERE a.user_id = #{userId}
        AND a.status = 'IN_PROGRESS'
    </select>

    <!-- 완료된 주문 결재(월별) -->
    <select id="countApprovedApprovalsByMonth" resultType="int">
        SELECT COUNT(DISTINCT a.id, a.degree)
        FROM approval a
                 JOIN order_approval oa ON oa.approval_id = a.id AND oa.approval_degree = a.degree
        WHERE a.user_id = #{userId}
          AND a.status = 'APPROVED'
          AND a.is_deleted = 0
          AND a.is_requested = 1
          AND DATE_FORMAT(a.processed_at, '%Y') = #{year}
          AND DATE_FORMAT(a.processed_at, '%c') = #{monthValue}
    </select>

</mapper>